header {
  grid-area: header;
}

aside {
  grid-area: aside;
  /*transform:translate(-12vw);*/
  transition: .5s;
  cursor:pointer;
  text-align: center;
}

aside.openbar{
  transform:translate(0vw);
}

a:hover{
  color:rgb(4, 0, 255);
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:

    "header header"
    "aside  content"
    "footer footer";

  min-height: 100vh;
  border: 2vw;
}

main .gallery {
  border: 1px solid rgb(8, 117, 81);
  border-radius: 1.4rem;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;

  & > div {
    height:100px;
    object-fit: cover;
    cursor: pointer;

    & > img {
      height: 100%;
      width: 100%;
    }
  }
}

main :first-child{
  grid-area: span 2 / span 2; 

}
.gallery-image-modal {
  border-radius: 5px;
  border: 1px solid black;
  position: fixed;
  overflow: unset;
}

.gallery-image-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.gallery-image-modal .bt-close {
  --size: 3rem;
  --translate: calc(var(--size) / 3 * -1);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  color: transparent;
  position: absolute;
  right: var(--translate);
  top: var(--translate);
}

.gallery-image-modal .bt-close::after {
  content: "✕";
  color: red;
  font-size: calc(var(--size) / 2);
  cursor: pointer;

}

.gallery-image-modal .bt_move {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;

  & > button {
  cursor: pointer;
  }
}

.gallery-image-modal .content img {
  max-height: 90vh;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas:
      "header"
      "aside"
      "content"
      "footer";
  }
}
